body{
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
}
a{
    color: white;
    text-decoration: none;
}
/* Style for button */
/* article{
    height: 500px;
    width: 500px;

} */
.button, button {    /* This is a button tag*/
    color: red;
    font-size: larger;
    margin: 50px;
    padding: 10x 20px;
    border: solid 2px black;
    border-radius: 10px;
    font-family: cursive;
    cursor: pointer;
    text-decoration: none;
    transition: all 2s;
}
.button:hover, button:active{
    background-color: green;
    color: black;
}
.image{
    width: 300px;
    height: auto;
    border-radius: 20px;
    float: right;
}
section{
    height: 300px;
    background-color: rgb(147, 170, 204);
}

li{
    display: inline;
}

.flex-container{
    height: 200px;
    width: 500px;
    background-color: aquamarine;
    border: solid 3px black;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flex-elements{
    height: 50px;
    width: 100px;
    background-color: blue;
    color: white;
    border: solid 3px;
}

.navbar{
    margin: 0%;
    display: flex;
    list-style: none;
    height: 50px;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;      
}

footer{
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
}
aside{
    float: left;
    min-height: calc(100vh-100px);
    background-color: maroon;
}
section p{
    font-family: cursive;

}
.flex-container .flex-elements:nth-child(3){
    background-color: red;
}
.flex-container .flex-elements:first-child{
    background-color: purple;
}
.flex-container .flex-elements:last-child{
    background-color: green;
}

section > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    /* transform: translate(100px, 100px) rotate(45deg) skew(20deg, 10deg) scale(1.5); */
    animation-name: changeLocation;
    animation-duration: 4s;
    animation-iteration-count: 5;
    animation-delay: 2s;
    position: relative;
    animation-timing-function: ease-in-out;
}
@keyframes changeLocation {
    0%{
        left: 0px;
        top: 0px;
    }
    25%{
        background-color: red;
        left: 200px;
        top: 0px;
    }
    50%{
        background-color: blue;
        left: 200px;
        top: 200px;
    }
    75%{
        background-color: pink;
        left: 0px;
        top: 200px;
    }
    100%{
        background-color: yellowgreen;
        left: 0px;
        top: 0px;
    }
}